Data Treatment Exercise (Do it yourself!)

Business Rules:
- Weather: Sol, Nublado, Chuva;
- Temperature: -130 ~ 130F;
- Humidity: 0 ~ 100;
- Play: Yes/No;
- Handle blank values;
- Handle duplicate values.

In [1]:
#Importing libraries and CSV file;
import pandas as pd
import seaborn as srn
import statistics as sts
tempo = pd.read_csv('tempo.csv',sep=';')
tempo.columns = ['Weather', 'Temperature', 'Humidity', 'Wind', 'WillPlay?']
tempo.head()

   Weather  Temperature  Humidity        Wind WillPlay?
0      sol           85      85.0       FALSO       nao
1      sol           80      90.0  VERDADEIRO       nao
2  nublado           83      86.0       FALSO       sim
3    chuva           70       NaN       FALSO       sim
4    chuva           68      80.0       FALSO       sim

----
Explotory Analysis

In [2]:
#Exploratory analysis of the Weather column
gweather = tempo.groupby(['Weather']).size()
gweather

Weather
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [3]:
#Exploratory analysis of the Wind column
gwind = tempo.groupby(['Wind']).size()
gwind

Wind
FALSO         7
VERDADEIRO    6
dtype: int64

In [4]:
#Exploratory analysis of the WillPlay? column
gplay = tempo.groupby(['WillPlay?']).size()
gplay

WillPlay?
nao    5
sim    9
dtype: int64

In [5]:
#Exploratory analysis of the Temperature column (Numeric Data)
tempo['Temperature'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperature, dtype: float64

In [6]:
#Exploratory analysis of the Humidity column (Numeric Data)
tempo['Humidity'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Humidity, dtype: float64

In [7]:
#Checking for blank information.
tempo.isnull().sum()

Weather        0
Temperature    0
Humidity       1
Wind           1
WillPlay?      0
dtype: int64

----
Data Processing
- Handling the "Weather" column.
- The "Weather" column can only contain: Sunny, Cloudy, Rain.

In [8]:
gweather

Weather
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [9]:
tempo.loc[tempo['Weather'] == 'menos', 'Weather'] = 'chuva'

gweather = tempo.groupby(['Weather']).size()
gweather

Weather
chuva      6
nublado    3
sol        5
dtype: int64

- Handling the "Wind" column.
- Handle blank values;

In [10]:
gwind

Wind
FALSO         7
VERDADEIRO    6
dtype: int64

In [11]:
tempo['Wind'].fillna('FALSO',inplace=True)
tempo.isnull().sum()

Weather        0
Temperature    0
Humidity       1
Wind           0
WillPlay?      0
dtype: int64

- Handling the "Temperature" column.
- The "Temperature" column can only contain: -130 ~ 130F;

In [12]:
median_temperature = sts.median(tempo['Temperature'])

#Defining temperature parameters for the dataset (minimum -130, maximum 130).
tempo.loc[(tempo['Temperature'] <= -130) | (tempo['Temperature'] >= 130)] # Locating data outside our parameter.

  Weather  Temperature  Humidity   Wind WillPlay?
7     sol         1220      95.0  FALSO       nao

In [13]:
tempo.loc[(tempo['Temperature']<= -130) | (tempo['Temperature']>= 130)] = median_temperature
tempo['Temperature'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperature, dtype: float64

- Handling the "Humidity" column.
- The "Humidity" column can only contain: 0 ~ 100;
- Handle blank values;

In [14]:
median_humidity = sts.median(tempo['Humidity'])

tempo['Humidity'].fillna(median_humidity,inplace=True)
tempo['Humidity'].isnull().sum()

0

In [15]:
#Defining humidity parameters for the dataset (minimum 0, maximum 100).
tempo.loc[(tempo['Humidity'] <= 0) | (tempo['Humidity'] >= 100)] # Locating data outside our parameter.

  Weather  Temperature  Humidity   Wind WillPlay?
9   chuva         75.0     200.0  FALSO       sim

In [16]:
tempo.loc[(tempo['Humidity'] <= 0) | (tempo['Humidity'] >= 100)] = median_humidity

tempo['Humidity'].describe()

count    14.000000
mean     79.321429
std       8.683776
min      65.000000
25%      70.875000
50%      81.250000
75%      85.750000
max      91.000000
Name: Humidity, dtype: float64